<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://www.vhv.rs/dpng/d/577-5775724_social-blogger-transparent-white-blog-icon-hd-png.png"
        type="image/png">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first | <%= title %>
    </title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                $(".details content").fadeIn("slow");
            });
        });
    </script> -->
    <link rel="stylesheet" href="/css/s.css">
</head>