<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blogs for me</h1>
        </a>
        <p>this is wesite for blog</p>

    </div>
    <ul>
        <li><a href="/blogs">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/create">new blog</a></li>
    </ul>
</nav>